{template "content","header"}
<link href="{CSS_PATH}vms/vms.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.tools_tabs.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#html').val('{player_code('video_player',$video['channelid'],$video['vid'],622,460)}');
	$('#tag1').tabs("div.tabn1 > ul");
}) 

function copy_text(matter){
	matter.select();
	document.execCommand("Copy");
	alert('复制成功！');
}

</script>

<div class="clr ct show_pg">
	<div class="crumbs"><a href="{APP_PATH}">首页</a><span> &gt; </span>{catpos($catid)} 正文</div>
	<div class="ad">
	
	<a href="http://www.phpcms.cn" title="随机广告位，欢迎访问PHPCMS.CN"><img src="http://www.phpcms.cn/statics/images/video/ad960x40.gif"></a>
	
	</div>
    <div class="lty1">
    	<div class="clr">
    <div class="zj"><h5>{$title}</h5></div>
    <div class="clr xxg">
        <div class="clr">总播放：<span id="hits"></span>  <span>|</span>  更新时间：{$inputtime}</div>
    </div>
    </div>
    	<div class="plbox">   
            <?php 
                $filename=basename($local_video,'.mp4');
                $i=1;
            ?>
            视频时长：{$videoTime}</br>
            第一张图：<img src='uploadfile/thumb/{$filename}/{$i}.jpg' width="200" height="150"/>
     
            主图：<img src='uploadfile/thumb/{$filename}/default.jpg' width="350" height="250"/></br>
<!--视频播放区-->
                                        <div class="vd_playBox vd_fullPlayBox" style="position:static;"> 
                                            <!--宽屏加vd_fullPlayBox-->
                                            <div class="playBox" style="z-index:1400;position:relative;">
                                                <div id="video" style="width:730;height:430px;"><div id="a1"></div></div>
                                                <!--
                                                上面一行是播放器所在的容器名称，如果只调用flash播放器，可以只用<div id="a1"></div>
                                                -->
                                                <script type="text/javascript" src="{JS_PATH}ckplayer/ckplayer.js" charset="utf-8"></script>
                                                <script type="text/javascript">
                                            //如果你不需要某项设置，可以直接删除，注意var flashvars的最后一个值后面不能有逗号
                                            var flashvars = {
                                            p:'1', //视频默认0是暂停，1是播放

                                                    f:'{$local_video}', //视频地址
                                                    a:'', //调用时的参数，只有当s>0的时候有效
                                                    s:'0', //调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
                                                    c:'0', //是否读取文本配置,0不是，1是
                                                    x:'', //调用xml风格路径，为空的话将使用ckplayer.js的配置
                                                    r:'', //前置广告的链接地址，多个用竖线隔开，没有的留空
                                                    t:'0|1', //视频开始前播放swf/图片时的时间，多个用竖线隔开
                                                    y:'', //这里是使用网址形式调用广告地址时使用，前提是要设置l的值为空
                                                    z:'http://www.ckplayer.com/down/buffer.swf', //缓冲广告，只能放一个，swf格式
                                                    e:'5', //视频结束后的动作，0是调用js函数，1是循环播放，2是暂停播放并且不调用广告，3是调用视频推荐列表的插件，4是清除视频流并调用js功能和1差不多，5是暂停播放并且调用暂停广告
                                                    v:'80', //默认音量，0-100之间

                                                    h:'3', //播放http视频流时采用何种拖动方法，=0不使用任意拖动，=1是使用按关键帧，=2是按时间点，=3是自动判断按什么(如果视频格式是.mp4就按关键帧，.flv就按关键时间)，=4也是自动判断(只要包含字符mp4就按mp4来，只要包含字符flv就按flv来)
                                                    q:'', //视频流拖动时参考函数，默认是start
                                                    m:'0', //默认是否采用点击播放按钮后再加载视频，0不是，1是,设置成1时不要有前置广告
                                                    o:'', //当m=1时，可以设置视频的时间，单位，秒
                                                    w:'', //当m=1时，可以设置视频的总字节数
                                                    g:'', //视频直接g秒开始播放
                                                    j:'', //视频提前j秒结束
                                                    k:'', //提示点时间，如 30|60鼠标经过进度栏30秒，60秒会提示n指定的相应的文字
                                                    n:'', //提示点文字，跟k配合使用，如 提示点1|提示点2
                                                    wh:'', //这是6.2新增加的宽高比，可以自己定义视频的宽高或宽高比如：wh:'4:3',或wh:'1080:720'
                                                    ct:'2', //6.2新增加的参数，主要针对有些视频拖动时时间出错的修正参数，默认是2，自动修正，1是强制修正，0是强制不修正
                                                    //调用播放器的所有参数列表结束
                                                    //以下为自定义的播放器参数用来在插件里引用的
                                                    my_url:encodeURIComponent(window.location.href)//本页面地址
                                                    //调用自定义播放器参数结束
                                            };
                                            var params = {bgcolor:'#FFF', allowFullScreen:true, allowScriptAccess:'always'}; //这里定义播放器的其它参数如背景色（跟flashvars中的b不同），是否支持全屏，是否支持交互
                                            var attributes = {id:'ckplayer_a1', name:'ckplayer_a1', menu:'false'};
                                            //下面一行是调用播放器了，括号里的参数含义：（播放器文件，要显示在的div容器，宽，高，需要flash的版本，当用户没有该版本的提示，加载初始化参数，加载设置参数如背景，加载attributes参数，主要用来设置播放器的id）
                                            CKobject.embedSWF('{JS_PATH}ckplayer/ckplayer.swf', 'a1', 'ckplayer_a1', '620', '430', flashvars, params);
                                            /*CKobject.embedSWF(播放器路径,容器id,播放器id/name,播放器宽,播放器高,flashvars的值,其它定义也可省略);
                                             此时可以删除ckplayer.js中的最后一行，交互的部分也要改成CKobject.getObjectById('ckplayer_a1')
                                             */
                                            //调用ckplayer的flash播放器结束
                                            var video = ['{$local_video}->video/mp4',
                                                    'http://www.ckplayer.com/webm/0.webm->video/webm',
                                                    'http://www.ckplayer.com/webm/0.ogv->video/ogg'];
                                            var support = ['iPad', 'iPhone', 'ios', 'android+false', 'msie10+false'];
                                            CKobject.embedHTML5('video', 'ckplayer_a1', 620, 430, video, flashvars, support);                                                </script>
                                            </div>
                                        </div>

                                        <!--/视频播放区--> 

		</div>
        <div class="sr"> 
		
        	<ul class="srli">
               <li>
                 	<strong>分享视频：</strong><a href="#" title="text" class=""></a>
                    <div class="clr sr_tag wp l">
                     <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://share.baidu.com/static/images/type-button-5.jpg" />
		<a class="shareCount"></a>
	</div>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6434581" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
                   </div>
                </li>
                <li style="clear:both;">
                <strong>嵌入代码：</strong>
                <input name="html" id="html" type="text" size="50" class="fz_ipt" style="margin-left:2px;" ><input type="button" class="fz_btn" value="复制" onclick="copy_text($('#html'));"> (*非IE浏览器，请双击复制哦！)
				</li> 
            </ul>
        </div>
		{if $video[data] && count($video[data])>1}
        <div class="clr bfj wp">
		{loop $video[data] $v}
         	<a href="{$v[url]}" >{$v[title]}</a>
		{/loop}
        </div> 
		{/if}
		 <div class="clr mgt10 mgb10">
			{if $allow_comment && module_exists('comment')}
      <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  
	<div class="bk10"></div>
      <div class="box">
        		<h5>评论排行</h5>
				 {pc:comment action="bang" siteid="$siteid" cache="3600"}
            	<ul class="content list blue f14 row-2">
				{loop $data $r}
                	<li>·<a href="{$r[url]}" target="_blank">{str_cut($r[title], 34)}</a><span>({$r[total]})</span></li>
					{/loop}
                </ul>
				{/pc}
        </div>
        {/if}
		 </div>
    </div>
  <div class="wp lty2">
  
  
  
    <div class="box0">
    	<div class="nav">
             <h5>上升最快的视频</h5>
        </div>
        <div class="bct">
        	<div class="lbbox nos" >
            <ul class="c1 c2">
            
{pc:content action="hits" catid="$catid" num="5" order="dayviews DESC" cache="0"}
{loop $data $r}
	<li>
	<div class="clr h77">
	<a href="{$r[url]}" ><img src="{$r[thumb]}" width="104" height="65" class="l"></a>
	<div class="lh21"><a href="{$r[url]}" >{$r[title]}</a></div>
	<div class="sz"><span>评论：{get_comments(id_encode("content_$r[catid]",$r[id],$siteid))}</span></div>
	</div>
	</li> 
{/loop}
{/pc}			
				
            </ul>
            </div>
        </div>
    </div>
	
	
	
    <div class="ad">
	<a href="http://www.phpcms.cn" title="随机广告位，欢迎访问PHPCMS.CN"><img src="http://www.phpcms.cn/statics/images/video/ad318x64.gif"></a>
	
	</div> 
	
	 <div class="mgt10 box2">
    	<div class="nav tag3">
        	<ul class="clr col3"  id="tag1">
                <li><a href="#" class="ac">热点</a></li>
                <li><a href="#">评论</a></li>
                <li><a href="#">关注</a></li>
            </ul>
        </div>
        <div class="bct tabn1">
        	<ul class="uli4 mg10">
			{pc:content action="hits" catid="$catid" num="10" order="views DESC"}
			{loop $data $r}
 			{php $ids = explode('-',$r[hitsid]); $pic = get_pic($ids[2],$r[catid]);}
 				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$pic[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
        	<ul class="uli4 mg10 hidden">
			{pc:comment action="bang" num="9" cache="0"}
			{loop $data $r}
				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45,false)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
        <ul class="uli4 mg10 hidden">
			{pc:content action="hits" catid="$catid" num="10" order="views DESC"}
			{loop $data $r}
				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45,false)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
		  
        </div>
    </div>
	
	
  </div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script language="JavaScript">
<!--
//切换地址
function show_url(id) {
	var local_value = $('#url').val();
	if(id == 1){
		$('#url').val('');
	}else{
		
	}
 	var local = 'local'+id;
	var remote = 'remote'+id;
	
	var remote_value = $('#'+remote).val();
	$.get('index.php', {m:'cloudhost', c:'bucket', a:'ChangeBucket', local:local_value,remote:remote_value, id:id, time:Math.random()}, function (data){
		if(data=='ok'){
			alert('记录修改成功！');
		}else{
			alert('修改失败！');
		}
	});  
}
//--> 
</script>
{template "content","footer"}
